body {
    position: relative; 
}
/* --- Bootstrap doc's like menu --
See:
http://www.codingeverything.com/2014/02/BootstrapDocsSideBar.html
 */
/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    border-left: 5px solid transparent;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #45B39C;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left: 5px solid #45B39C; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
/* --- Centering --- */
.doc-center {
    padding: 50px 0;
    padding-top: 50px;
    padding-right-value: 0px;
    padding-bottom: 50px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    position: relative;
    text-align: center;
}
/* --- center no padding --*/
.simple-center {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right-value: 0px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    position: relative;
    text-align: center;
}
/* --- Input center  --- */
.input-center {
    float: none;
    margin: 0 auto;
}
/* --- Button file --- */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/* --- Center ReCaptcha --- */
.g-recaptcha div {
    margin: auto;
}
/* --- Footer --- */
.doc-footer {
    border-top: 1px solid #ecf0f1;
    padding: 50px 0;
    padding-top: 50px;
    padding-right-value: 0px;
    padding-bottom: 50px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    position: relative;
    text-align: center;
}
.doc-footer p {
    margin-bottom: 15px;
}
.doc-footer ul {
    list-style: none;
}
.doc-footer li {
    display: inline-block;
    padding: 0 2px;
}
.doc-footer .btn {
    background: #3498db;
    color: #fff;
    font-size: 20px;
    margin: 5px 15px;
}
.doc-footer .btn:hover {
    color: #fff;
}
/* --- Btn blue --- */
btn-blue {
    background: #3498db;
    color: #fff;
    font-size: 20px;
    margin: 5px 15px;
}
.btn-blue .btn:hover {
    color: #fff;
}

/* --- Collapse Panels --- */
panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}

/* --- Sidebar --- */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
}

/* Main content*/ 

.main {
    padding: 0px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/* --- Firefox hack for responsive tables  --- */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
/* --- Collapsible ul sub items in panel ---*/
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-submenu {
    margin-left:20px;
}
/* --- smaller font size --- */
ul.normal-text li {
    font-size: 14px;
}
/* --- Charts --- */
.chart-complex-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
/* --- Monospace for shas --- */
.monospace {
    font-family: monospace;
}

.graph {
    margin: 0 auto;
}